# E-Commerce Article Creation Report Clothes  <br />  <br />   Case 1 :<br />  <br />    Exact Codes

#### Table of Content

- -  Introduction
- 1) Fetch Articles Pictures
- 2) Link Pictures According to Current Stock Articles

## Abstract

The project regards a real case scenario of a small business (independent clothing store) in a phase of digital transfomration which cannot assume the responsability of products pictures, neither of one by one product import, as the products are seasonly made.

Here, a solution is proposed to download the products pictures and link the current stock Datas to their respective pictures link, in the goal of creating a .CSV file ready to be imported as WooCommerce Products.

### 1) FETCH ARTICLES PICTURES

In [50]:
import pandas as pd 
import requests
import time

#### Excel File Input

In [45]:
excel_file = "Twin_Set_P23_Stock.xls"

#### Data Frame From Stock Table

In [46]:
df = pd.read_excel(excel_file)

In [47]:
df.head(5)

,Ordinato per ModelloVariante,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,lunedì 17 aprile 2023,Unnamed: 6
0,Dal,\n01/01/1998,Azienda,\nPOPAZZ SRLS,Brand,\nTwin Set,NaN
1,Al,\n31/12/2098,Stagione,\nP23-Pimavera Estate 2023,Fornitore,\nTwin Set SPA,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ModelloVariante,Ordinato _Q,Riassortito _Q,Totale _Q,Ordinato _P,Riassortito _P,Totale _P
4,231AP202210334,5,0,5,232.5,0,232.5

#### Clear unused informations

In [48]:
df.drop([0, 1,2,3,42,139],inplace=True)
df.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'lunedì 17 aprile 2023', 'Unnamed: 6'],inplace=True)
df = df.dropna()
df = df.rename(columns={"Ordinato  per ModelloVariante": "ModelloVariante"})
df.head(5)

  ModelloVariante
4  231AP202210334
5  231AP203010335
6  231AP203410335
7  231AP207100006
8  231AP207100522

#### List of Articles ID Codes

In [17]:
cod_list = df["ModelloVariante"].to_list()
cod_list[:5]

['231AP202210334',
 '231AP203010335',
 '231AP203410335',
 '231AP207100006',
 '231AP207100522']

#### Indexing for photos in URL

In [18]:
x_list  = [1,2,3,4,5]

#### Photos Url Creation by Article

In [19]:
url_list = []
def find_links_fotos (full_cod):
    cod_articolo = full_cod[:-5]
    cod_colore = full_cod[-5:]
    for x in x_list:
        url_list.append("https://twinset-cdn.thron.com/delivery/public/image/twinset/"+cod_articolo+"-"+cod_colore+"-"+"0"+str(x)+"/6ujb0j/std/980x1198/"+cod_articolo+"-"+cod_colore+"-0S?quality=auto-high&format=auto")

#### Automation through the codes to create URL List (url_list)

In [20]:
def all_urls(cod_list):
    for cods in cod_list:
        find_links_fotos(cods)

#### Launch Function

In [21]:
all_urls(cod_list)
url_list[:5]

['https://twinset-cdn.thron.com/delivery/public/image/twinset/231AP2022-10334-01/6ujb0j/std/980x1198/231AP2022-10334-0S?quality=auto-high&format=auto',
 'https://twinset-cdn.thron.com/delivery/public/image/twinset/231AP2022-10334-02/6ujb0j/std/980x1198/231AP2022-10334-0S?quality=auto-high&format=auto',
 'https://twinset-cdn.thron.com/delivery/public/image/twinset/231AP2022-10334-03/6ujb0j/std/980x1198/231AP2022-10334-0S?quality=auto-high&format=auto',
 'https://twinset-cdn.thron.com/delivery/public/image/twinset/231AP2022-10334-04/6ujb0j/std/980x1198/231AP2022-10334-0S?quality=auto-high&format=auto',
 'https://twinset-cdn.thron.com/delivery/public/image/twinset/231AP2022-10334-05/6ujb0j/std/980x1198/231AP2022-10334-0S?quality=auto-high&format=auto']

#### Download Photo from URL

In [22]:
for url in url_list:
    time.sleep(1) #Let's be Polite
    response = requests.get(url)
    test_url = url[60:-69].replace("-","")
    with open(str(test_url[:-2] + "(" +test_url[14:]+ ")")+".jpg", "wb") as f:
        f.write(response.content)

####  EXTERNAL ACTIONS REQUIERED

#### Delete downloaded Pictures with file size equal or less than 1 KB, from your own download file

#### Upload the pictures to your website and copy the first part (excluding file's name) of the uploaded picture's link.

### 2) LINK PICTURES ACCORDING TO CURRENT STOCK ARTICLES

#### Find pictures names and strip file name formatting

In [23]:
pd.set_option('display.max_columns', None)
pd.set_option("max_colwidth", None)
import glob
list_fotos = glob.glob("C:/Users/Nicol/Ranch Nicolas/Twin Set/Fotos Twin Set/*")
list_fotos = [elem.replace("C:/Users/Nicol/Ranch Nicolas/Twin Set/Fotos Twin Set\\", '') for elem in list_fotos]
list_fotos_per_link_1st = [elem.replace("(", '') for elem in list_fotos]
list_fotos_per_link_2nd = [elem.replace(")", '') for elem in list_fotos_per_link_1st]
list_fotos_per_link = [elem.replace(".jpg", '') for elem in list_fotos_per_link_2nd]

#### List of articles names to create links

In [24]:
list_fotos_per_link[:5]

['231AP20221033401',
 '231AP20221033402',
 '231AP20221033403',
 '231AP20221033404',
 '231AP20221033405']

#### List of article codes to link to current stock Datas

In [25]:
list_cod_art = [elem[:-8] for elem in list_fotos]

#### List of article codes to link to current stock Datas Without Duplicates

In [26]:
list_cod_art = list(set(list_cod_art))

In [27]:
list_cod_art[:5]

['231AP242306811',
 '231AP248600840',
 '231TP274610397',
 '231AP207200006',
 '231TT245410673']

#### Link formatting

In [28]:
list_fotos_per_link_true = ["https://manaoclub.it/manao_content/uploads/2023/04/"+ elems for elems in list_fotos_per_link]
list_fotos_per_link_true_vera = [elements+".jpg" for elements in list_fotos_per_link_true]
list_fotos_per_link_true_vera[:5]

['https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033401.jpg',
 'https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033402.jpg',
 'https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033403.jpg',
 'https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033404.jpg',
 'https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033405.jpg']

#### Create a Dataframe containing the articles code adjacent to their respective pictures links

In [29]:
df = pd.DataFrame()

list_1 = []

list_2 = []

for cods in list_cod_art:
    for links in list_fotos_per_link_true_vera:
        if cods in links:
            list_1.append(cods)
            list_2.append(links)
            
df["ModelloVariante"] = list_1
df["Link Foto"] = list_2

In [30]:
df.head(5)

,ModelloVariante,Link Foto
0,231AP242306811,https://manaoclub.it/manao_content/uploads/2023/04/231AP24230681101.jpg
1,231AP242306811,https://manaoclub.it/manao_content/uploads/2023/04/231AP24230681102.jpg
2,231AP242306811,https://manaoclub.it/manao_content/uploads/2023/04/231AP24230681103.jpg
3,231AP242306811,https://manaoclub.it/manao_content/uploads/2023/04/231AP24230681104.jpg
4,231AP242306811,https://manaoclub.it/manao_content/uploads/2023/04/231AP24230681105.jpg

#### Data frame with no duplicates ; Makes the links separeted by a comma (Useful for "WP All Import")

In [31]:
df_right = df.groupby('ModelloVariante')['Link Foto'].apply(','.join).reset_index()
df_right.head(5)

,ModelloVariante,Link Foto
0,231AP202210334,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033401.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033402.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033403.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033404.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033405.jpg"
1,231AP203010335,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033501.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033502.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033503.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033504.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033505.jpg"
2,231AP203410335,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20341033501.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20341033502.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20341033503.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20341033504.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20341033505.jpg"
3,231AP207100006,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20710000601.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20710000602.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20710000603.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20710000604.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20710000605.jpg"
4,231AP207100522,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20710052201.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20710052202.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20710052203.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20710052204.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20710052205.jpg"

#### Actual article stock data

In [32]:
df_atelier = pd.read_excel("Twin_Set_DATAs.xls")

#### Redefine Right Columns headers

In [34]:
df_atelier.columns = df_atelier.iloc[3]

#### Get rid of Meta Data

In [35]:
df_atelier = df_atelier[4:]

#### Add Link Foto columns to the stock data

In [37]:
df_atelier['Link Foto'] = df_atelier.ModelloVariante.map(df_right.set_index('ModelloVariante')['Link Foto'])

C:\Users\Nicol\AppData\Local\Temp\ipykernel_17848\2003139546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_atelier['Link Foto'] = df_atelier.ModelloVariante.map(df_right.set_index('ModelloVariante')['Link Foto'])

#### Add drop empty rows

In [38]:
df_atelier = df_atelier[df_atelier['Link Foto'].notna()]

#### Drop useless columns

In [39]:
df_atelier = df_atelier.drop(columns=['Ordinato _Q', ' Riassortito _Q', 'Ordinato _P', ' Riassortito _P', ' Totale _P'])

#### Adjust Data Set readability

In [42]:
df_atelier = df_atelier.rename(columns={" Totale _Q": "Quantity"})

#### Create arbitrary Article Title

In [43]:
df_atelier["Name"] = df_atelier["Gruppo"] + " " + df_atelier["Brand"] + " " + df_atelier["Colore"]
df_atelier.head(5)

3,ModelloVariante,Taglia,Sigla Stagione,Brand,Gruppo,Settore,Descrizione Modello,Motivo,Tessuto,Colore,Categoria,Prezzo Acquisto,Prezzo Vendita,Cifrato,Su sito descr. dettagliata,Size & Fit,Made In,Composizione,Codice Doganale,Quantity,Link Foto,Name
4,231AP202210334,M,P23,Twin Set,Shorts,Donna,NaN,NaN,NaN,Panna,NaN,"46,50","125,00",,NaN,NaN,NaN,NaN,NaN,1,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033401.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033402.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033403.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033404.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033405.jpg",Shorts Twin Set Panna
5,231AP202210334,S,P23,Twin Set,Shorts,Donna,NaN,NaN,NaN,Panna,NaN,"46,50","125,00",,NaN,NaN,NaN,NaN,NaN,2,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033401.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033402.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033403.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033404.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033405.jpg",Shorts Twin Set Panna
6,231AP202210334,XS,P23,Twin Set,Shorts,Donna,NaN,NaN,NaN,Panna,NaN,"46,50","125,00",,NaN,NaN,NaN,NaN,NaN,2,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033401.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033402.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033403.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033404.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20221033405.jpg",Shorts Twin Set Panna
7,231AP203010335,M,P23,Twin Set,Top,Donna,NaN,NaN,NaN,Bronzo,NaN,"56,00","150,00",,NaN,NaN,NaN,NaN,NaN,1,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033501.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033502.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033503.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033504.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033505.jpg",Top Twin Set Bronzo
8,231AP203010335,S,P23,Twin Set,Top,Donna,NaN,NaN,NaN,Bronzo,NaN,"56,00","150,00",,NaN,NaN,NaN,NaN,NaN,2,"https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033501.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033502.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033503.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033504.jpg,https://manaoclub.it/manao_content/uploads/2023/04/231AP20301033505.jpg",Top Twin Set Bronzo

#### Export Dataframe to .CSV file

In [57]:
df_atelier.to_csv("Twin Set CSV Products.csv")